<% if @photos.any? %>
  <div class="row">
    <% @photos.in_groups_of(3) do |group| %>
      <% group.compact.each do |photo| %>
      <div class="col-md-4">
        <div class="photo">
          <div class="photo-head">
            <h4 class="name">
              Rails Girls MY
            </h4>
          </div>
          <div class="image center-block">
            <%= link_to photo_path(photo) do %>
              <%= image_tag(photo.file_url, class: "img-responsive center-block") if photo.file.present? %>
            <% end %>
          </div>
          <p class="caption"><%= photo.caption %></p>
        </div>
      </div>
      <% end %>
    <% end  %>
  </div>
<% else  %>
  <p>No photos found.</p>
<% end %>
