<div class="row">
  <div class="col-md-6">
    <%= image_tag @photo.file_url, class: "img-responsive"  if @photo.file.present? %>
  </div>
  <div class="col-md-6">
    <h4>RG Kuching</h4>
    <div class="btn-group">
      <%= link_to edit_photo_path(@photo), class: "btn btn-warning btn-xs" do %>
        <i class="i fa fa-pencil"></i>
      <% end %>
      <%= link_to photo_path(@photo), method: :delete, data: { confirm: "Are you sure you want to delete this photo?" }, class: "btn btn-danger btn-xs" do %>
        <i class="i fa fa-trash"></i>
      <% end %>
    </div>
    <hr>
    <p><%= @photo.caption %></p>
  </div>
</div>
